body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;

}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 97vh;
}

ul {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding: 0;

  li {
    list-style-type: none;
    display: flex;
    gap: 10px;
  }
}